 body {
     margin: 0;
     padding: 0;
 }

 /* HEADER */
 header {
     background-image: url(../img/pattern.png);
     background-size: 30%;
     background-color: rgb(20, 173, 224);
     height: 15vh;
     position: relative;
 }

 header>#logo-head {
     height: 15vh;
     width: 30vh;
     position: absolute;
     top: 25%;
     left: 2%;
 }

 /* /HEADER */

 /* MAIN */
 main {
     margin: 8px;
 }

 h1 {
     font-size: 2.7rem;
 }

 .journal-head > h1, p, h6, #date-subtitle {
     margin: 5px;
 }

 .journal-landscape > h6 {
     font-weight: 100;
     font-size: 14px;
 }

 .journal-head > p, #date-subtitle {
     color: gray;
 }

 .journal-head > p > span {
     color: rgb(20, 173, 224);
 }

  .journal-landscape {
      margin-top: 20px;
  }

.journal-description{
    margin-top: 25px;
}

.journal-description > p > span {
    background-color: yellow;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 30px 0;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

.short-column{
    width: 20%;
}

#title-table {
    color: #fff;
    background-color: rgb(20, 173, 224);
}
 /* /MAIN */

 /* FOOTER */

.footer-container{
    width: 20%;
}
h4 {
    color: grey;
    margin-bottom: 5px;
}

 /* /FOOTER */